<div class="container" style="position:absolute; left:0; right:0; top: 50%; transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%);">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-9 col-xl-9 col-xxl-7">
      <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h4 class="text-dark mb-4">Welcome Back!</h4>
                </div>
                <form class="user">
                  <h5>{{this.errorMessage}}</h5>
                  <div class="mb-3"><input class="form-control form-control-user" type="email" id="email" aria-describedby="emailHelp" placeholder="Enter login" name="login" [(ngModel)]="username"></div>
                  <div class="mb-3"><input class="form-control form-control-user" type="password" placeholder="Password" name="password" [(ngModel)]="password"></div>
                  <div class="row mb-3">
                    <p id="errorMsg" class="text-danger" style="display:none;">Paragraph</p>
                  </div><button class="btn btn-primary d-block btn-user w-100" id="submitBtn" type="submit" (click)="login()">Login</button>
                  <hr>
                </form>
                <div class="text-center"><a class="small" href="#">Forgot Password?</a></div>
                <div class="text-center"><a class="small" href="#" (click)="toRegister()">Create an Account!</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js?h=01bb7ae0c0b11509558f2aa83f244399"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js" type="module"></script>
<script src="assets/js/Lightbox-Gallery.js?h=64eb55ccbc6ead5e91ebe308caacba6e"></script>
